@*@model MVCCoreApp.Models.IndexModel*@
@{ 
    var indexModel = ViewData["IndexModel"] as MVCCoreApp.Models.IndexModel;
}
@section header{
    <link href="~/css/index.css" rel="stylesheet" />
}
@section footer{
    <script src="~/js/index.js"></script>
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    @*<h1>@Model.Message</h1>*@
    <h1>@ViewData["Greeting"]</h1>
    <h1>@indexModel.Message</h1>
    <h1>@ViewBag.SayGoodbye</h1>
</body>
</html>