@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    @RenderSection("header",false)
</head>
<body>
    <div id="header">
        <h1>Layout examole in HTML</h1>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <p>This is footer</p>
    </div>
    @*<article>
        @RenderBody()
    </article>*@
    @*<footer>
        Footer
    </footer>*@
    @RenderSection("footer", false)
</body>
</html>
